@using PS.AddressBook.Hexagon.Application.Ports;
@model IList<IContactLineDTO>


<div class="text-center">
    <h1 class="display-4">AddressBook Home</h1>
    <form method="post">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Contents</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var contact in Model)
                {
                    <tr>
                        <td>@contact.Id</td>
                        <td>@contact.Name</td>
                        <td>@contact.ContentsCode</td>
                        <td>
                            <a asp-action="Edit" asp-route-name="@contact.Name">Edit</a> |
                            <button type="submit" asp-action="delete"
                                    asp-route-id="@contact.Id">
                                delete
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <a asp-action="Create">Create New Contact</a>
    </form>
</div>